<h1>Welcome to the Anagram Finder!<h1>
<h2>Please enter a word and a list of words to search<h2>


  <form action='/anagrams'>
    <div class="form-group">
      <label for="blah">Enter a word</label>
      <input id="blah" name="blah" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="list">Enter a list of words. Separate each word with a comma.</label>
      <input id="list" name="list" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Find Anagrams</button>
  </form>
